bin/
obj/
artifacts/
TestResults/
.vs/
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.vscode/*

# IDE and system-specific files
.idea/
.DS_Store
Thumbs.db

# Dependency directories
node_modules/

# NuGet packages
**/[Pp]ackages/*
